<html>
    <head>
        <title> Manage Item </title>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <div v-for="(item, index) in items" :key="item.id">
                <template v-if="index == current">
                    <h3> <input v-model="name"> <button @click="SaveItem(index)"> Save </button> <button @click="RemoveItem(index)"> remove </button> </h3>
                    <input v-model="content">
                    <select v-model="category">
                        <option value="-1">
                            not selected
                        </option>
                        <option v-for="category in categories" :key="category.id" :value="category.id">
                            {{ category.name }}
                        </option>
                    </select>
                </template>
                <template v-else>
                    <h3> {{ item.name }} <button @click="EditItem(index)"> Edit </button> <button @click="RemoveItem(index)"> remove </button> </h3>
                    <span> {{ item.content }} </span>
                    <b v-if="item.category != -1"> {{ categories[item.category].name }} </b>
                </template>
            </div>
            <div>
               <button @click="AddItem('haha')"> Add Item </button>
            </div>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    current: -1,
                    name: '이름 없음',
                    content: '',
                    category: -1,

                    items: [
                        {
                            id: 2,
                            name: '황재현',
                            category: 4,
                            content: '그냥 황재현',
                        },
                        {
                            id: 3,
                            name: '박기범',
                            category: 7,
                            content: '그냥 박기범',
                        },
                    ],
                    categories: {
                        4: {
                            id: 4,
                            name: 'normal',
                            content: '평범',
                        },
                        5: {
                            id: 5,
                            name: 'rare',
                            content: '약간 덜 평범',
                        },
                        6: {
                            id: 6,
                            name: 'unique',
                            content: '많이 덜 평범',
                        },
                        7: {
                            id: 7,
                            name: 'epic',
                            content: '하나도 안 평범',
                        },
                    },
                },
                methods: {
                    RemoveItem: function(index) {
                        this.items.splice(index, 1);
                    },
                    EditItem: function(index) {
                        let item = this.items[index];

                        this.name = item.name;
                        this.content = item.content;
                        this.category = item.category;

                        this.current = index;
                    },
                    SaveItem: function(index) {
                        let item = this.items[index];

                        item.name = this.name;
                        item.content = this.content;
                        item.category = this.category;

                        this.name = '이름 없음';
                        this.content = '';
                        this.category = -1;

                        this.current = -1;
                    },
                    AddItem: function(message) {
                        this.items.push({
                            id: this.items[this.items.length - 1].id + 1,
                            name: this.name,
                            content: this.content,
                            category: this.category,
                        });
                    },
                },
            });
        </script>
    </body>
</html>
