<html>
    <head>
        <title> Manage Pickups </title>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <div v-for="(pickup, index) in pickups" :key="pickup.id" style="border: 1px solid black; margin: 5px; padding: 5px;">
                <template>
                    <h3> {{ pickup.name }} <button @click="RemovePickup(index)"> remove </button> </h3>
                    <span> {{ pickup.content }} </span> <br>
                    <span v-for="category in pickup.categories" style="background: gray; margin: 2px; padding: 1px;">
                        {{ categories[category].name }}
                    </span>
                </template>
            </div>
            <div style="border: 1px solid black; margin: 5px; padding: 5px;">
                <h3> <input v-model="name" placeholder="이름 입력"> <br> </h3>
                <input v-model="content" placeholder="내용 입력"> <br>
                <template v-for="category in categories">
                    <input type="checkbox" :id="category.id" :value="category.id" v-model="categories_select">
                    <label :for="category.id"> {{ category.name }} </label>
                    <br>
                </template>
                <button @click="AddPickup()"> Add Pickup </button>
            </div>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    name: '이름 없음',
                    content: '',
                    categories_select: [],

                    pickups: [
                        {
                            id: 0,
                            name: 'simple pickup',
                            content: '그냥 뽑기',
                            categories: [4, 5, 6, 7],
                        },
                        {
                            id: 1,
                            name: 'good pickup',
                            content: '좋은 뽑기',
                            categories: [5, 6, 7],
                        },
                        {
                            id: 2,
                            name: 'gibum pickup',
                            content: '기범 뽑기',
                            categories: [7],
                        },
                    ],
                    categories: {
                        4: {
                            id: 4,
                            name: 'normal',
                            content: '평범',
                        },
                        5: {
                            id: 5,
                            name: 'rare',
                            content: '약간 덜 평범',
                        },
                        6: {
                            id: 6,
                            name: 'unique',
                            content: '많이 덜 평범',
                        },
                        7: {
                            id: 7,
                            name: 'epic',
                            content: '하나도 안 평범',
                        },
                    },
                },
                methods: {
                    Refresh: function() {
                        /*
                        fetch('https://penguins-pickup.herokuapp.com/manage/api/category/all', {
                            method: 'get',
                        })
                        .then((res) => res.json())
                        .then((res) => {
                            let categories = {};
                            for (const category of res.data) {
                                categories[category.id] = category;
                            }
                            this.categories = categories;
                        })
                        .catch((err) => {
                            console.log('fail to load categories');
                            console.log(err.data);
                        });
                        */
                    },
                    RemovePickup: function(index) {
                        /*
                        fetch('/manage/api/pickup/delete', {
                            method: 'post',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ id: this.items[index].id }),
                        })
                        .then((res) => res.json())
                        .then((res) => {
                            // this.items.splice(index, 1);
                        })
                        .catch((err) => {
                            console.log('fail');
                            console.log(err.data);
                        });
                        */
                        this.pickups.splice(index, 1);
                        this.Refresh();
                    },
                    AddPickup: function() {
                        /*
                        fetch('/manage/api/pickup/add', {
                            method: 'post',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ name: this.name, content: this.content, category: this.category }),
                        })
                        .then((res) => res.json())
                        .then((res) => {
                            this.items.push(res.data);
                        })
                        .catch((err) => {
                            console.log('fail');
                            console.log(err.data);
                        });
                        */
                       let pickup = {};
                       pickup.id = this.pickups[this.pickups.length - 1].id + 1;
                       pickup.name = this.name;
                       pickup.content = this.content;
                       pickup.categories = this.categories_select;
                       this.pickups.push(pickup);

                       this.name = '이름 없음';
                       this.content = '';
                       this.categories_select = [];
                    },
                },
                created: function() {
                    this.Refresh();
                },
            });
        </script>
    </body>
</html>
